body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title , .status{
    text-align: center;
}

.main{
    height: auto;
    width:370px;
   margin:auto;
    background-color: rgb(165, 165, 165);
}

.cell{
    height:105px;
    width:105px;
    cursor: pointer;
    text-align: center;
    line-height:105px;
    font-size: 50px;
    font-family: "Permanent Marker" ,cursive;
    background:rgb(165, 165, 165);
}

.cell:hover{
    background: slateblue;
    opacity: 0.4;
    font-size: rem;
}

.game-board{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:320px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* background: tomato; */
}

.game-restart{
    font-weight:400;
    cursor: pointer;
    font-size: 1rem;
    background: rebeccapurple;
    color:white;
    border-radius:0.2rem;
    border-color: transparent;
    padding:1rem 1rem;
    margin:auto;
    line-height: 1;
    border:2px solid transparent;
}
.game-restart:hover{
    background: rgb(67, 33, 100);
}

.btn{
    text-align:center;
}
.sq0 ,.sq1, .sq7,.sq6{
    border-right: 3px solid black;
}

.sq4,.sq3{
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.sq5{
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}